
<li class="nav-header">QUẢN TRỊ WEBSITE</li>
<!--<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-th"></i>&nbsp;
        <p>
            Quản lý Menu
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/Admin/Menu/MainMenu" class="nav-link">
                <i class="nav-icon fas fa-th"></i>&nbsp;
                <p>Menu Chính</p>
            </a>
        </li>-->
        @*<li class="nav-item">
            <a href="/Admin/Menu/SecondMenu" class="nav-link">
                <i class="fas fa-ellipsis-h"></i> &nbsp;
                <p>Menu Chân Trang</p>
            </a>
        </li>*@

    <!--</ul>
</li>-->
<li class="nav-item">
    <a href="/Admin/Menu/MainMenu" class="nav-link">
        <i class="nav-icon fas fa-th"></i>&nbsp;
        <p>Menu Chính</p>
    </a>
</li>
<li class="nav-item">
    <a href="/Admin/Article/Index" class="nav-link">
        <i class="nav-icon fas fa-edit"></i>&nbsp;
        <p> Quản Lý Bài Viết</p>
    </a>
</li>

@*<li class="nav-item">
    <a href="/Admin/Product/Index" class="nav-link">
        <i class="fas fa-store"></i> &nbsp;&nbsp;
        <p>
            Quản Lý Sản Phẩm
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/Admin/Slider/Index" class="nav-link">
        <i class="fas fa-images"></i> &nbsp;&nbsp;
        <p>
            Slider Hình Ảnh
        </p>
    </a>
</li>*@



@*<li class="nav-item">
    <a href="/Admin/Gallery/Index" class="nav-link">
        <i class="fas fa-camera-retro"></i>&nbsp;&nbsp;
        <p>
            Thư Viện Hình Ảnh
        </p>
    </a>
</li>

<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="fas fa-ad"></i>&nbsp;&nbsp;
        <p>
            Popup Quảng Cáo
        </p>
    </a>
</li>*@





<li class="nav-header">QUẢN TRỊ LIÊN HỆ</li>
  
<li class="nav-item">
    <a href="/Admin/Contact/Index" class="nav-link">
        <i class="fas fa-address-book"></i>     &nbsp;
        <p>
            Từ Form Liên Hệ
        </p>
    </a>
</li>

@*<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="fas fa-car"></i>&nbsp;
        <p>
            Liên Hệ Về SP
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/Admin/Article/Index" class="nav-link">
                <i class="fas fa-ellipsis-h"></i> &nbsp;
                <p>
                    Yêu Cầu Báo Giá
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Admin/Article/Index" class="nav-link">
                <i class="fas fa-ellipsis-h"></i> &nbsp;
                <p>
                    Yêu Cầu Tư Vấn SP
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a href="/Admin/Article/Index" class="nav-link">
                <i class="fas fa-ellipsis-h"></i> &nbsp;
                <p>
                    Đăng Ký Lái Thử
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a href="/Admin/Article/Index" class="nav-link">
                <i class="fas fa-ellipsis-h"></i> &nbsp;
                <p>
                    Subscribe Email
                </p>
            </a>
        </li>

    </ul>
</li>*@
  
<li class="nav-header">QUẢN TRỊ HỆ THỐNG</li>
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="fas fa-cogs"></i>&nbsp;
        <p>
            Hệ Thống
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/Admin/Company/Index" class="nav-link">
                <i class="fas fa-building"></i>&nbsp;
                <p>Webiste</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Admin/MailConfig/Index" class="nav-link">
                <i class="fas fa-envelope-open-text"></i> &nbsp;
                <p>Cấu Hình Email</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Admin/SendEmail/Index" class="nav-link">
                <i class="fas fa-envelope"></i> &nbsp;
                <p>Các Form Gửi Email</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Admin/User/Index" class="nav-link">
                <i class="fas fa-users-cog"></i> &nbsp;
                <p>Quản Lý Tài Khoản</p>
            </a>
        </li>

    </ul>
</li>

