
<link href="~/Assets/Web/css/sidebar.css" rel="stylesheet" />
<div class="hidden-sm-down sidebar" style="padding: 15px" id="mNavbar">
    <div class="section-consult section-consult-aside">
        <div class="consult">
            <div class="consult-media">

                 <img src="https://blog.mypage.vn/wp-content/uploads/2016/08/9dff453c239aa9aa7b9c32e1cc4486db.jpg" style="width: 100%; height: auto" />
            </div>
            <div class="consult-info">

                <h6 class="consult-name" style="font-size: 12px; text-align: center;">
                    Trưởng Phòng Kinh Doanh
                </h6>
                <h6 class="consult-name">
                    Nguyễn Anh A
                </h6>

                <div class="consult-description">
                    <a class="consult-phone" href="tel:">
                        <i class="fa fa-phone"></i>099 99 999
                    </a>
                    <br>
                    <a class="consult-email" href="mailto:"><i class="fa fa-envelope"></i>Email@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section-utility section-utility-aside">
        <div class="utility clearfix quotation" data-toggle="modal" data-target="#">
            <span class="icon"> <i class="fa fa-tag"></i> </span>
            <span class="text">Yêu cầu báo giá</span>
        </div>

        <div class="utility clearfix bank" data-toggle="modal" data-target="#">
            <span class="icon"><i class="fas fa-university"></i> </span>
            <span class="text">Ước tính vay ngân hàng</span>
        </div>

        <div class="utility clearfix cost" data-toggle="modal" data-target="#">
            <span class="icon"><i class="fas fa-dollar-sign"></i></span>
            <span class="text">Chi phí lăn bánh</span>
        </div>
        <div class="utility clearfix test" data-toggle="modal" data-target="#">
            <span class="icon"><i class="fas fa-road"></i></span>
            <span class="text">Đăng ký lái thử</span>
        </div>
    </div>
</div>

