<!doctype html>
<html lang="en">

<head>
  <title>ELIFX - HOÀNG VƯƠNG TEAM</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,700|Oswald:400,700" rel="stylesheet">

  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="css/aos.css">
  <!-- MAIN CSS -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/index.css">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="site-wrap" id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar js-sticky-header site-navbar-target" role="banner"
      style="border-bottom: 2px solid #f5e29f">
      <div class="container">
        <div class="row align-items-center position-relative">
          <div class="site-logo">
            <a href="index.html" class="text-black">
              <img src="./images/elifx_logo.png" style="width : 250px" />
            </a>
          </div>
          <div class="col-12">
            <nav class="site-navigation text-right ml-auto " role="navigation">
              <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                <li><a href="#home-section" class="nav-link">TRANG CHỦ</a></li>
                <li><a href="#services-section" class="nav-link">ƯU ĐIỂM SÀN ELIFX</a></li>
                <li class="has-children">
                  <a href="#about-section" class="nav-link">CẨM NANG FOREX</a>
                  <ul class="dropdown arrow-top">
                    <li><a href="#team-section" class="nav-link">KIẾN THỨC CĂN BẢN</a></li>
                    <li><a href="#pricing-section" class="nav-link">PHÂN TÍCH KỸ THUẬT</a></li>
                    <li><a href="#faq-section" class="nav-link">KINH NGHIỆM ĐẦU TƯ</a></li>
                  </ul>
                </li>


                <li><a href="#testimonials-section" class="nav-link">THAM GIA CỘNG ĐỒNG</a></li>
                <li><a href="#contact-section" class="nav-link">LIÊN HỆ</a></li>
              </ul>
            </nav>

          </div>

          <div class="toggle-button d-inline-block d-lg-none"><a href="#"
              class="site-menu-toggle py-5 js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>

    </header>

    <div class="owl-carousel slide-one-item">
      <div class="site-section-cover overlay img-bg-section"
        style="background-image: url('images/forex/anh-bia-1.png'); ">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-12 col-lg-7">
              <h1 data-aos="fade-up" data-aos-delay="">THAM GIA CỘNG ĐỒNG ELIFX VIỆT NAM</h1>
              <p class="mb-5 w-75 mx-auto" data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Molestiae, cumque vitae animi.</p>
              <p data-aos="fade-up" data-aos-delay="200"><a href="#"
                  class="btn btn-outline-white border-w-2 btn-md">THAM GIA</a></p>
            </div>
          </div>
        </div>

      </div>

      <div class="site-section-cover overlay img-bg-section"
        style="background-image: url('./images/forex/anh-bia.jpg'); ">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-12 col-lg-8">
              <h1 data-aos="fade-up" data-aos-delay="">THƯỞNG NẠP TIỀN LÊN ĐẾN 20% </h1>
              <p class="mb-5 w-75 mx-auto" data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Est odit dolorum voluptates!</p>
              <p data-aos="fade-up" data-aos-delay="200"><a
                  href="http://partner.elifx.com/introduce?iid=q2xri942&uid=211"
                  class="btn btn-outline-white border-w-2 btn-md">ĐĂNG KÝ</a></p>
            </div>
          </div>
        </div>

      </div>


    </div>
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>

      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
        async="">
          {
            "symbols": [
              {
                "proName": "FOREXCOM:SPXUSD",
                "title": "Chỉ số S&P 500"
              },
              {
                "proName": "FOREXCOM:NSXUSD",
                "title": "Nasdaq 100"
              },
              {
                "proName": "FX_IDC:EURUSD",
                "title": "EUR/USD"
              },
              {
                "proName": "BITSTAMP:BTCUSD",
                "title": "BTC/USD"
              },
              {
                "proName": "BITSTAMP:ETHUSD",
                "title": "ETH/USD"
              }
            ],
              "colorTheme": "dark",
                "isTransparent": false,
                  "displayMode": "compact",
                    "locale": "vi_VN"
          }
        </script>
    </div>
    <!-- TradingView Widget END -->
    <div class="site-section" id="services-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <div class="block-heading-1" data-aos="fade-up" data-aos-delay="">
              <h1 id="title-ex">SÀN FOREX ELIFX (ELITE STRATEGIES)</h1>
              <p style="color:#ffffff; font-weight: 500;">Sàn Elifx là sàn môi giới tài chính có trụ sở đặt tại L1 256
                Rundle St Adelaide SA 5000, Australia. Được thành lập từ năm 2013. Đến nay sàn đã được gần 10 năm thành
                lập.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="">
            <div class="block__35630">
              <div class="mb-3 img-sv">
                <img src="./images/./forex/hoa-hong.png">
              </div>
              <h3 class="mb-3 text-white">KHÔNG THU PHÍ HOA HỒNG GIAO DỊCH</h3>
              <p>
                Sàn Elifx không thu phí hoa hồng (phí com) tiết kiệm cho các nhà đầu tư giao dịch.
                Đối với phí qua đêm. Nhà đâu tư nạp 5000 usd được miễn phí 1 tháng, nhà đầu tư nạp 10000 usd được miễn
                phí 3 tháng.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="block__35630">
              <div class="mb-3 img-sv">
                <img src="./images/./forex/san-qt.png">
              </div>
              <h3 class="mb-3 text-white">SÀN QUỐC TẾ CỦA ÚC CÓ GIẤY PHÉP</h3>
              <p>Giấy phép của sàn Elifx :Được chứng nhận và kiểm soát bởi 2 giấy phép kiểm soát tài chính tối cao trên
                thế giới là ASIC của Úc và MSB của Mỹ đảm bảo vấn đề thanh khoản cho khách hàng.
                Uỷ ban Chứng khoán và Đầu tư Úc (ASIC) Giấp phép số: 001281476</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="200">
            <div class="block__35630">
              <div class="mb-3 img-sv">
                <img src="./images/./forex/thuong-nap.png">
              </div>
              <h3 class="mb-3 text-white">THƯỞNG NẠP TIỀN</h3>
              <p>Nhà đầu tư nạp 1000 usd được thưởng 100 usd, 10000 usd là 2000 usd. Tiền thưởng này rút được khi nhà
                đầu tư giao dịch 03% số lót theo tiền thưởng. VD thưởng 100 usd thì giao dịch tối thiểu 30 lot.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="">
            <div class="block__35630">
              <div class="mb-3 img-sv">
                <img src="./images/./forex/ho-tro.png">
              </div>
              <h3 class="mb-3 text-white">Hỗ Trợ 24/7</h3>
              <p>Xử lý các vấn đề của nhà đầu tư một cách nhanh chóng và thuận tiện nhất.</p>

            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="block__35630">
              <div class="mb-3 img-sv">
                <img src="./images/./forex/nap-rut.png">
              </div>
              <h3 class="mb-3 text-white">NẠP TIỀN VÀ RÚT TIỀN</h3>
              <p>Nạp rút nhanh chóng đơn giản tiền về trong ngày 24h,
                thường thì là vài tiếng đồng hồ thuận tiện cho nhà đầu tư không mất phí nạp rút.
              </p>

            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="200">
            <div class="block__35630">
              <div class="mb-3 img-sv">
                <img src="./images/./forex/bao-hiem.png">
              </div>
              <h3 class="mb-3 text-white">BẢO HIỂM AN TOÀN GIAO DỊCH</h3>
              <p>
                Sàn Elifx (Elite Strategies) có bảo hiểm 5000 USD cho khách hàng cùng với WikiFX là tín hiệu tốt đáng
                tin cậy dành cho các nhà đầu tư.
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="site-section" style="background-color: black;">
    <div class="block__73694 mb-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="./images/forex/nam2.jpg"
              style="width: 100%;box-shadow: 0 4px 4px 0 #F2D46B, 0 6px 10px 0 #F2D46B;" />
            <br>
          </div>

          <div class="col-lg-5 mt-5 aos-init aos-animate" data-aos="fade-left" data-aos-delay="">
            <h2 class="mb-3" style="color: rgb(238, 202, 102)">MR.TRAN DINH NAM</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus id dignissimos nemo minus
              perspiciatis ullam itaque voluptas iure vero, nesciunt unde odit aspernatur distinctio, maiores facere
              officiis. Cum, esse, iusto?</p>


            <ul class="ul-check primary list-unstyled mt-5">
              <li>Lorem ipsum dolor.</li>
              <li>Quod, amet. Provident.</li>
              <li>Quo, adipisci, quis.</li>
              <li>Cumque perspiciatis, blanditiis?</li>
            </ul>


          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="comuny-section">
    <div class="comuny-section-background">
      <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay=""" >
        <div class="row  ">
          <div class="col-lg-12">
            <div class="comuny-header mt-5 " style="text-align: center">
              <h3>THAM GIA CỘNG ĐỒNG ĐẦU TƯ VIP CÙNG SÀN ELIFX TẠI ĐÂY</h3>
              <p>Cơ hội học tập về kiến thức giao dịch đầu tư hoàn toàn miễn phí đạt lợi nhuận 5-15%/tháng</p>
              <p class="mt-5">Quyền lợi khi tham gia nhóm VIP đầu tư</p>
            </div>
            <div class="comuny-body mt-3">
              <div class="container">
                <div class="row comuny-response">
                  <div class="col-lg=5" style="text-align: left">
                    <div class="comuny-item-1">
                      <img src="./images/forex/1.png" style="width:45px;height: 45px;" />
                      <span>Học phương pháp giao dịch tỷ lệ win 70%</span>
                    </div>
                    <div class="comuny-item-1">
                      <img src="./images/forex/2.png" style="width:45px;height: 45px;" />
                      <span>Học phương pháp quản lý vốn tốt nhất</span>
                    </div>
                    <div class="comuny-item-1">
                      <img src="./images/forex/3.png" style="width:45px;height: 45px;" />
                      <span>Nghệ thuật kiểm soát tâm lý giao dịch</span>
                    </div>
                  </div>

                  <div class="col-lg-1" style="text-align: left" ></div>

                  <div class="col-lg=5" style="text-align: left"  >
                    <div class="comuny-item-1">
                      <img src="./images/forex/6.png" style="width:45px;height: 45px;" />
                      <span>Nhận tín hiệu giao dịch 5-10 tín hiệu/ngày</span>
                    </div>
                    <div class="comuny-item-1">
                      <img src="./images/forex/2.png" style="width:45px;height: 45px;" />
                      <span>Tham gia các buổi hội thảo, khóa học hoàn toàn miễn phí</span>
                    </div>
                    <div class="comuny-item-1">
                      <img src="./images/forex/4.png" style="width:45px;height: 45px;" />
                      <span>Giao lưu với các thành viên trong cộng đồng </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <section class="site-section" id="pricing-section">
    <div class="container">
      <div class="row mb-5 justify-content-center text-center">
        <div class="col-md-7">
          <div class="block-heading-1 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
            <h2 style="color : #f2d46b">03 BƯỚC ĐỂ THAM GIA CỘNG ĐỒNG ELIFX VIỆT NAM</h2>
            <p> Cơ hội để thành công bền vững trong thị trường đầu tư nghìn tỷ USD..</p>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-6 mb-4 mb-lg-0 col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
          <div class="pricing">
            <h3 class="text-center text-white">ĐĂNG KÝ TÀI KHOẢN</h3>
          
            <ul class="list-unstyled ul-check success mb-5 mt-5">

              <li>Tạo tài khoản giao dịch trên sàn Elifx chỉ trong vòng 5 phút</li>
              <li>Giao dịch trên nền tảng MT4 uy tín nhất hiện nay</li>
 
            </ul>
            <p class="text-center">
              <a href="#" class="btn btn-secondary btn-md">ĐĂNG KÝ</a>
            </p>
          </div>
        </div>

        <div class="col-md-6 mb-4 mb-lg-0 col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
          <div class="pricing">
            <h3 class="text-center text-white">NHÓM TÍN HIỆU MIỄN PHÍ</h3>
             
            <ul class="list-unstyled ul-check success mb-5  mt-5">

              <li>Tín hiệu hàng đầu từ các chuyên gia</li>
              <li>Tỉ lệ chiến thắng hơn 70%</li>
              <li>Cộng đồng hỗ trợ</li>
             
            </ul>
            <p class="text-center">
              <a href="#" class="btn btn-primary btn-md text-white">THAM GIA</a>
            </p>
          </div>
        </div>

        <div class="col-md-6 mb-4 mb-lg-0 col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
          <div class="pricing">
            <h3 class="text-center text-white">CỘNG ĐỒNG VIP ELIFX</h3>
         
            <ul class="list-unstyled ul-check success mb-5 mt-5">

              <li>Học phương pháp giao dịch thực chiến tự giao dịch tỷ lệ win 70%</li>
              <li>Nhận tín hiệu VIP 5-10 tín hiệu mỗi ngày</li>
              <li>Kết nối với các nhà đầu tư trong nhóm thảo luận giao dịch</li>
        
            </ul>
            <p class="text-center">
              <a href="#" class="btn btn-secondary btn-md">THAM GIA</a>
            </p>
          </div>
        </div>
      </div>
 
    </div>
  </section>

  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-8">
              <h2 class="footer-heading mb-4">About Us</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque facere laudantium magnam voluptatum
                autem. Amet aliquid nesciunt veritatis aliquam.</p>
            </div>
            <div class="col-md-4 ml-auto">
              <h2 class="footer-heading mb-4">Features</h2>
              <ul class="list-unstyled">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Press Releases</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>

          </div>
        </div>
        <div class="col-md-4 ml-auto">

          <div class="mb-5">
            <h2 class="footer-heading mb-4">Subscribe to Newsletter</h2>
            <form action="#" method="post" class="footer-suscribe-form">
              <div class="input-group mb-3">
                <input type="text" class="form-control border-secondary text-white bg-transparent"
                  placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary text-white" type="button" id="button-addon2">Subscribe</button>
                </div>
              </div>
          </div>


          <h2 class="footer-heading mb-4">Follow Us</h2>
          <a href="#about-section" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
          <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
          <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
          <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
          </form>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="border-top pt-5">
            <p class="copyright"><small>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
                with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com"
                  target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </small></p>
          </div>
        </div>

      </div>
    </div>
  </footer>

  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>

</body>

</html>